@page
@model TMS.Pages.Faculties.DetailsModel

@{
    ViewData["Title"] = "Faculty Details";
}

<h1>Faculty</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
    </dl>
    <h3>Theses</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Thesis[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Thesis[0].Students)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Thesis)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Students.Count)
                    </td>
                    <td>
                        <a asp-page="/Thesis/Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="/Thesis/Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="/Thesis/Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Faculty.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
